# Compiler
compiler/defacto
compiler/defacto.exe
compiler/*.o
compiler/*.asm

# VS Code extension
vscode-extension/*.vsix
vscode-extension/node_modules/
vscode-extension/out/

# Build artifacts
*.save
build/
dist/
*.exe

# macOS
.DS_Store

# Editor
*.swp
*~
